@font-face {
  font-family: "Gosha Sans";
  src: url("../fonts/GoshaSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gosha Sans";
  src: url("../fonts/GoshaSans-Bold.woff") format("woff");
  font-weight: 700;
}
